div.overlay.composition-overlay.share-email.closeable
  div.contents
    div.header <span class="icon-close"></span><span>Share</span>
    div.card-wrap
      article
        div.wrap.u-cf
          form.email-container
            p.email-copy Enter your email and we'll send you a link to your composition.
            div.email-input-wrap
              input#email
              div.legal I hereby authorize the Nelson-Atkins Museum of Art to send me an email with my custom video.
            div.email-send-wrap
              button.plain.func.send
                span.icon-check
                span.text#share-send Send
div.overlay.composition-overlay.share-confirmation
  div.contents
    div.card-wrap
      article
        div.wrap
          div.title Link sent!
          div.text You will receive an email shortly.
