meta(property='og:title', content='Color Composer')
meta(property='og:description', content='Color Composer from the Nelson-Atkins Museum of Art.')
meta(property='og:type', content='website')
meta(property='og:image', content='https://color-composer.net/img/canvas/1.jpg')
meta(property='og:image:secure_url', content='https://color-composer.net/img/canvas/1.jpg')
meta(property='og:url', content= 'https://color-composer.net')
meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:site' content='nelson_atkins')
meta(name='twitter:title' content='Color Composer')
meta(name='twitter:description' content='Color Composer from the Nelson-Atkins Museum of Art.')
meta(name='twitter:image' content='https://color-composer.net/img/canvas/1.jpg')
meta(name='twitter:domain' content='https://color-composer.net')
