div.overlay.intro
  div.contents
    div.header <span class="icon-close"></span><span>Tips</span>
    div.card-wrap
      article
        div.wrap
          div.title Put on the headphones and draw some shapes!
          div.text Artist Vasily Kandinsky saw paintings not just as shape and color, but also as tone and volume. Try using shape and color to create your own soundscape! For more advice, use the TIPS button.
div.overlay.continue
  div.contents
    div.header <span class="icon-close"></span><span>Continue?</span>
    div.card-wrap
      article
        div.wrap
          div.title Use any gesture to continue drawing.
          div.text Your composition will be cleared in <span class="countdown-num">30</span> seconds.
div.overlay.play-prompt
  div.contents
    div.header <span class="icon-close"></span><span>Play</span>
    div.card-wrap
      article
        div.wrap
          div.title Activate your painting!
          div.text Vasily Kandinsky associated sounds with specific colors and forms (although they may not have sounded like this). Hit the PLAY button below to hear what your composition sounds like.
div.overlay.share-prompt
  div.contents
    div.header <span class="icon-close"></span><span>Share</span>
    div.card-wrap
      article
        div.wrap
          div.title Are you ready to share?
          div.text Hit the SHARE button below for the option to send a video of your composition to your device. Save it for later or share it on your social streams!
div.overlay.tips
  div.contents
    div.header <span class="icon-close"></span><span>Tips</span>
    div.card-wrap
      article.current
        div.wrap
          div.title Create a <em>dynamic</em> arrangement of shapes and lines.
          div.text Kandinsky often clustered his geometric forms toward one-third of the canvas.
      article.next
        div.wrap
          div.title Try including both <em>geometric</em>#[br]and <em>organic</em> shapes to create#[br]visual texture.
      article.third
        div.wrap
          div.title Don’t overthink your composition!
          div.text As Kandinsky wrote, "Color is the keyboard, the eyes are the harmonies, the soul is the piano with many strings. The artist is the hand that plays, touching one key or another, to cause vibrations in the soul."
      article
        div.wrap
          div.title What <em>mood</em> are you trying to evoke?
          div.text Match your color choices to that emotion, but try to include some surprising accent colors.
      article
        div.wrap
          div.title Include some circles!
          div.text Kandinsky claimed "of the three primary forms, [the circle] points most clearly to the fourth dimension."
      article
        div.wrap
          div.title Don’t be afraid to overlap#[br]your shapes.
          div.text Kandinsky often layered geometric forms in his paintings.
    div.footer
      span.current 0
      span.sep of
      span.next 0
div.overlay.share-soon
  div.contents
    div.header <span class="icon-close"></span><span>Share</span>
    div.card-wrap
      article
        div.wrap
          div.title Coming soon...
div.overlay.share-phone
  div.contents
    div.header <span class="icon-close"></span><span>Share</span>
    div.card-wrap
      article
        div.wrap.u-cf
          div.output
            span#phone
            div.instructions Enter your phone number and we’ll send you a text with a link to your composition.
            div.legal I HEREBY AUTHORIZE THE NELSON ATKINS MUSEUM OF ART TO SEND ME A TEXT MESSAGE WITH MY CUSTOM VIDEO. NOTE, DATA MESSAGING RATES MAY APPLY.
          div.keypad
            button.plain.num.one 1
            button.plain.num.two 2
            button.plain.num.three 3
            button.plain.num.four 4
            button.plain.num.five 5
            button.plain.num.six 6
            button.plain.num.seven 7
            button.plain.num.eight 8
            button.plain.num.nine 9
            button.plain.func.clear
              span.icon-close
              span.text Clear
            button.plain.num.zero 0
            button.plain.func.send
              span.icon-check
              span.text Send
