doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/main.css')
    include partials/favicon.pug
    script(src='js/analytics.js')
    block og_meta
  body(class= bodyClasses, id= bodyId)
    div.framed-content-wrap
      section.main-logo-wrap
        img(src='/img/logo.svg' alt='Color Composer')
        
      div.framed-content
        block framed_content

      footer.main-footer
        span#copyright Copyright #{new Date().getFullYear()}
        div.nama-logo-wrap
          a(href='http://www.nelson-atkins.org/')
            img#nama-logo(src='/img/nama-logo.svg' alt='Nelson-Atkins Museum of Art')
    block scripts
