doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/main.css')
    link(rel='stylesheet' href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
    style.
      ul {
        list-style: none;
      }

      li, ul {
        margin: 0;
      }

      li {
        display: block;
        width: 100vw;
        height: 100vh;
        background-position: center center;
        background-size: cover;
      }

      li img {
        width: 100%;
      }
  body
    main
      ul
        each i in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          //- li(style="background-image:url('/img/slideshow/" + i + "-01.jpg');")
          li
            img(data-lazy='/img/slideshow/' + i + '-01.jpg')

  script(src='/js/lib/jquery.min.js')
  script(src='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
  script.
    $(document).ready(function() {
      $('ul').slick({
        lazyLoad: 'ondemand',
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        swipeToSlide: true,
        waitForAnimate: true,
        fade: true
      });
    })
