doctype
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet', href='/main.css')
  script(src='/js/lib/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.2/howler.min.js')
  script(src='/js/sound-test.js')
body
