extends ../framed-layout.pug

block og_meta
  include ../partials/composer-meta.pug
    
block framed_content
  include ../partials/composer-main.pug


block scripts
  script(src='js/lib/jquery.min.js')
  script(src='js/lib/paper-full.min.js')
  script.
    paper.install(window);
  script(src='js/lib/animatePaper.min.js')
  script(src='js/lib/maskedInput.min.js')
  script(src='js/lib/RecordRTC.js')
  script(src='js/lib/recorder.js')
  script(src='js/lib/download.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/main.bundle.js')
