extends ../framed-layout.pug
    
block framed_content
  p Sorry! This experience isn’t designed for mobile devices.
  p Please visit #[a(href='https://color-composer.net') color-composer.net] from a desktop or laptop computer.
