html.adownload {
  .composition-dl-share-copy {
    display: none;
  }

  .share-item#download {
    @media(min-width: 1000px) {
      display: block;
    }
  }
}

.composition-share {
  @extend %naked-list;
  margin: 2rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.share-item {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;

  @media(min-width: 1000px) {
    padding: 1rem 2rem;
  }

  &#download {
    display: none;
  }

  &#make-your-own {
    display: none;

    @media(min-width: 1000px) {
      display: block;
    }

    a,
    span {
      display: block;
      position: relative;
    }

    a {
      height: 5rem;
      border: 3px solid white;
      // padding: 3px;
      padding: 0 20px;
      border-radius: 2.5rem;
    }

    span {
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &#email {
    display: none;

    @media(min-width: 1000px) {
      display: block;
    }
  }

  img {
    width: 5rem;
  }

  a, img {
    display: block;
  }

  span.vh {
    @extend %visually-hidden;
  }
}

.composition-dl-share-copy {
  display: none;
  font-weight: bold;

  @media(min-width: 1000px) {
    display: block;
  }
}
